<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:10px;">

    <h2>Production Orders</h2>

    <select id="orderFilter" onchange="applyOrderFilter()" style="padding:6px; border-radius:6px;">
        <option value="ALL" selected>All</option>
        <option value="CREATED">New Orders</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="DONE">Completed / Delivered</option>
    </select>

</div>

<div id="productionOrders"></div>

<div id="imagePreviewModal" class="modal">
<div class="modal-box" style="width:500px">

<img id="previewImg" style="width:100%">

<div class="modal-actions">
<button onclick="closePreview()">Close</button>
</div>

</div>
</div>