
<div class="expenses-page">



<div class="exp-header">

    <h2>Expenses</h2>

    <div class="exp-actions">
        <button type="button" onclick="generateExpenseReport()" class="chart-btn">
    Download Expense Report
</button>
        <button onclick="openForm()" class="exp-btn">+ Add Entry</button>

        <select id="filterType" onchange="loadExpenses()">
            <option value="">All</option>
            <option value="MATERIAL">Material</option>
            <option value="BILL">Bills</option>
            <option value="PIGMY">Pigmy</option>
        </select>
    </div>

</div>

<div class="table-card">
<table class="exp-table">
<thead>
<tr>
<th>Date</th>
<th>Title</th>
<th>Type</th>
<th>Category</th>
<th>Notes</th>
<th>Amount</th>
<th>File</th>
<th>Actions</th>
</tr>
</thead>
<tbody id="expenseTable"></tbody>
</table>
</div>

<div id="expenseModal" class="modal">

<div class="modal-box" style="width:400px">

<button 
    class="modal-close"
    onclick="closeForm()"
    style="position:absolute; top:10px; right:10px;">
    ✕
</button>

<h3>Add Entry</h3>

<select id="type">
    <option value="MATERIAL">Material</option>
    <option value="BILL">Bill</option>
    <option value="PIGMY">Pigmy</option>
</select>

<input id="title" placeholder="Title">
<input id="category" placeholder="Category">
<input id="amount" type="number" placeholder="Amount">
<input id="date" type="date">
<textarea id="note" placeholder="Notes"></textarea>

<input id="file" type="file">

<div class="modal-actions">
    <button onclick="saveExpense()" class="exp-btn">Save</button>
    <button onclick="closeForm()">Cancel</button>
</div>

</div>
</div>

</div>
<div id="filePreviewModal" class="modal">
    <div class="modal-box" style="width:500px">

        <button class="modal-close" onclick="closeFilePreview()">✕</button>

        <img id="expensePreviewImg" style="width:100%;border-radius:10px">

    </div>
</div>