<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Shivalingeshwara Arts</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="Logo" style="height:80px;">
        <h1 th:text="${title}"></h1>
    </header>
    <nav>
        <a class="btn link" href="/">Home</a> | 
        <a class="btn link" href="/portfolio">Portfolio</a> | 
        <a class="btn link" href="#" onclick="alert('This feature not yet avialable') ">Shop (Coming Soon)</a> |
        <a class="btn link" href="/orders">Admin</a> 
        <!-- <a href="/dashboard">Dashboard</a> -->
    </nav>
    <main>
        <p>This is your Shivaligeshwara Arts application running on localhost 🎨</p>
    </main>
    <!-- Footer -->
    <footer>
        © 2025 Shivalingeshwara Arts. All Rights Reserved.
    </footer>
</body>
</html>
