<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>

<link rel="stylesheet" th:href="@{/css/admin.css}">

</head>

<body>

<div class="admin-container">

    <!-- SIDEBAR -->
    <aside class="sidebar">

<div class="logo">
    <img src="/images/logo.png">
    <span>Shivalingeshwara Arts</span>
</div>

<button onclick="toggleTheme()">🌙 Toggle Theme</button>

  
        <!-- <button onclick="loadPage('users')">Users/Customers</button> -->
        <button onclick="loadPage('orders')">Orders</button>
        <button onclick="loadPage('materials')">Materials</button>
        <button onclick="loadPage('finance')">Finance</button>
        <button onclick="loadPage('expenses')">Expenses</button>

        <hr>

        <button onclick="logout()">Logout</button>

    </aside>


    <!-- MAIN CONTENT -->
    <main class="main-content">

        <!-- THIS WAS MISSING -->
        <div id="contentArea"></div>

    </main>

</div>


<script src="/js/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>