<!DOCTYPE html>
<html>
<head>

<title>Production Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/admin.css">

</head>

<body>

<!-- HAMBURGER -->
<div class="mobile-topbar">
    <button onclick="toggleSidebar()" class="hamburger">☰</button>

    <div class="topbar-logo">
        <img src="/images/logo.png">
        <span>Shivalingeshwara Arts</span>
    </div>
</div>

<!-- OVERLAY -->
<div class="overlay" onclick="toggleSidebar()"></div>

<div class="admin-container">

<audio id="newOrderSound" preload="auto">
    <source src="/sounds/new-order.mp3" type="audio/mpeg">
</audio>

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo">
            <img src="/images/logo.png">
            <span>Shivalingeshwara Arts</span>
        </div>

        <button onclick="toggleTheme()">🌙 Toggle Theme</button>

  
        <!-- <button onclick="loadPage('users')">Users/Customers</button> -->
        <button onclick="loadProdPage('orders')">Orders</button>
        <button onclick="loadProdPage('materials')">Materials</button>
        <button onclick="loadProdPage('finance')">Finance</button>
        <button onclick="loadProdPage('expenses')">Expenses</button>

        <hr>

        <button onclick="logout()">Logout</button>

    </aside>


<!-- MAIN -->

<main class="main-content">

<div id="prodContent">

<h2>Production Dashboard</h2>

</div>

</main>

</div>

<script src="/js/production.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</body>
</html>